# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Vector DB / local data
data/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage

# Logs
*.log